[user]
  name = Andreas Weber
  email = weber.andreas@gmail.com
[branch]
  sort = -committerdate
[color]
  ui = auto
[column]
  ui = auto
[core]
  editor = code --wait
  pager = delta
  excludesFile = ~/.gitignore
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[interactive]
    diffFilter = delta --color-only --features=interactive
[merge]
  conflictstyle = diff3
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[rebase]
  autoStash = true
[rerere]
  enabled = true
  autoUpdate = true


[credential "https://github.com"]
  helper = !gh auth git-credential

[credential "https://gist.github.com"]
  helper = !gh auth git-credential

[credential "https://gitlab.com"]
  helper = !glab auth git-credential


[includeIf "gitdir:~/github/"]
    path = ~/github/.gitconfig
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
[includeIf "~/work.gitconfig"]
  path = ~/work.gitconfig

[alias]
  ca = commit --amend
  behind-origin = "!git rev-list $(git current)..origin/$(git current) --count |  awk -F ""0""  '{ print $1; }'"
  branch-clean = !bash ~/.dotfiles/git/git-branch-clean.sh
  branch-default = !bash ~/.dotfiles/git/git-branch-default.sh
  bv = !bash ~/.dotfiles/git/git-branch-view.sh
  current = rev-parse --abbrev-ref HEAD
  dead = "!git branch -vv | grep ': gone]'|  grep -v '\\*'  | awk '{ print $1; }'"
  dev = !bash ~/.dotfiles/git/git-dev.sh
  dirty = !bash ~/.dotfiles/git/git-dirty.sh
  erase = !bash ~/.dotfiles/git/git-erase.sh
  flinch = !bash ~/.dotfiles/git/git-flinch.sh
  fpush = push --force-with-lease
  jira = !bash ~/.dotfiles/git/git-jira.sh
  last = checkout @{-1}
  last-diff = "!f() { \
            project_root_dir=$(git rev-parse --show-toplevel); \
            echo finding full file path of $1 in $project_root_dir; \
            filepath=$(find $project_root_dir -type f -name $1); \
            echo full file path $filepath; \
            last_modified_commit_hash=$(git rev-list -1 HEAD $filepath); \
            echo last commit file modified $last_modified_commit_hash; \
            git difftool $last_modified_commit_hash^ $filepath; \
       }; f"
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
  ls = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate -l
  current-tag = !bash ~/.dotfiles/git/git-tag-current.sh
  my = !bash ~/.dotfiles/git/git-my.sh
  mergelast = merge @{-1}
  open = !bash ~/.dotfiles/git/git-open.sh
  re = !git rebase -i `git merge-base HEAD master`
  pull-all = !bash ~/.dotfiles/git/git-pull-all.sh
  stale = !bash ~/.dotfiles/git/git-stale.sh
  stash-all=stash --include-untracked
  untrack = update-index --assume-unchanged
  track = update-index --no-assume-unchanged
  undo = reset HEAD~1 --mixed
  unstage = reset HEAD --


[delta]
    features = bluepaint vscode
    navigation = true
    line-numbers = true
    side-by-side = true

[delta "vscode"]
   hyperlinks = true
   hyperlinks-file-link-format = "vscode://file/{path}:{line}"

[delta "bluepaint"]
    light = true
    pink = 224
    dark-pink = 212
    green = 156
    dark-green = 078
    blue = 004
    grey = 247
    commit-decoration-style = bluepaint.blue
    commit-style = raw
    file-style = bluepaint.blue
    hunk-header-style = omit
    line-numbers-left-format = "│{nm:>3}│"
    line-numbers-left-style = bluepaint.grey
    line-numbers-minus-style = bluepaint.grey
    line-numbers-plus-style = bluepaint.grey
    line-numbers-right-format = "│{np:>3}│"1
    line-numbers-right-style = bluepaint.grey
    line-numbers-zero-style = bluepaint.grey
    minus-emph-style = normal bluepaint.dark-pink
    minus-empty-line-marker-style = minus-style
    minus-non-emph-style = minus-style
    minus-style = normal bluepaint.pink
    plus-emph-style = syntax bluepaint.dark-green
    plus-empty-line-marker-style = plus-style
    plus-non-emph-style = plus-style
    plus-style = syntax bluepaint.green
    syntax-theme = ansi
    zero-style = syntax
