.envrc
# mani #
work/web_andr/dotfiles
work/web_andr/ui.base-tester_angular
work/web_andr/mapview-tester
work/web_andr/ui.base-tester
work/web_andr/ide-extensions
work/web_andr/kubediff
work/web_andr/eventbus-devtools
work/web_andr/vscode-chatrs
work/web_andr/http
work/web_andr/dockerfiles
work/ui/ui.utils-investigation
work/ui/ui.start-card
work/ui/ui.shared-components
work/ui/ui.shared-com-utilities
work/ui/ui.shared-angular
work/ui/ui.product-collections
work/ui/ui.navigator
work/ui/ui.investigation-tools
work/ui/ui.investigation
work/ui/ui.inv-live-view-management
work/ui/ui.inv-identities
work/ui/ui.inv-geolocation
work/ui/ui.inv-generic-filter
work/ui/ui.inv-filter-card
work/ui/ui.inv-eventbus-types
work/ui/ui.inv-event-overview-work-list
work/ui/ui.inv-event-overview-relationship-graph
work/ui/ui.inv-event-overview-content-data-list
work/ui/ui.inv-event-overview-communication-event-list
work/ui/ui.inv-event-detail-view-management
work/ui/ui.inv-event-detail-sourcedata
work/ui/ui.inv-event-detail-metadata
work/ui/ui.inv-event-detail-identity
work/ui/ui.inv-event-detail-identifier
work/ui/ui.inv-event-detail-export-history
work/ui/ui.inv-event-detail-event-status
work/ui/ui.inv-event-detail-event-correlation
work/ui/ui.inv-event-detail-content
work/ui/ui.inv-event-detail
work/ui/ui.inv-endpoints
work/ui/ui.inv-documentations
work/ui/ui.inv-annotations
work/ui/ui.interpreter
work/ui/ui.infoboard-fragment
work/ui/ui.grid-view
work/ui/ui.explorer
work/ui/ui.eventbus-compat
work/ui/ui.data-export
work/ui/rs-av-player
work/ui/inv-components
work/ui/golden-layout
work/ui/fragment-loader-assembler
work/ui/eslint-config-web
work/testing/playwright-systemtests
work/testing/sociwo
work/testing/sociwo_inv
work/testing/shared.test.data
work/testing/test-data
work/testing/shared.pipelines
work/testing/mock.iam-policy-fetch
work/testing/investigation-test-harness
work/testing/investigation-k8s
work/testing/cicd.docker-images
work/sqa/solution-ci-repository
work/schemas/inv_geo_objects
work/schemas/inv_infoboard
work/schemas/model_elastic
work/schemas/db_prod_store
work/schemas/model_spec
work/schemas/inv_data_export_notify
work/schemas/inv_data_export_store
work/schemas/inv_export_job_fetch
work/schemas/inv_xpolizei_connect
work/schemas/inv_schemas_shared
work/schemas/inv_media_access
work/schemas/inv_schemas_li
work/schemas/inv_schemas_identities
work/schemas/inv_schemas_filters
work/schemas/inv_schemas_events
work/schemas/inv_schemas_content
work/schemas/inv_schemas_documents
work/schemas/inv_schemas_collections
work/schemas/inv_schemas_annotations
work/schemas/inv_measure_hit_detector_notify
work/schemas/inv_document_store
work/schemas/inv_access_layer
work/schemas/inv_schemas_fnt
work/other/chatrs
work/other/investigation-repository-overview
work/other/repository-overview
work/lia/lia
work/lia/ui.vv-themes
work/lia/ui.vorgangsverwaltung
work/lia/ui.raw-data-management
work/lia/ui.ngx-utils
work/lia/ui.measure-management
work/lia/ui.logger
work/lia/ui.horizon
work/lia/ui.feedback-module
work/lia/ui.config-module
work/lia/ui.catalog-management
work/lia/ui.catalog-interface
work/lia/ui.auth-module
work/lia/ui.advanced-form-fields
work/lia/ui.accordion-list
work/innersource/location-building-blocks
work/innersource/mapview.gl
work/innersource/common-component-collections
work/innersource/vscode-chartrs
work/inf/ui.com-design
work/inf/ui.translation-loader
work/inf/transilla
work/inf/inv
work/inf/ui.base
work/inf/ui.forge
work/inf/docker-images
work/inf/translation-service
work/inf/bl.user-data-service
work/inf/bl.layout-service-golang
work/inf/inf-asset-management
work/inf/eslint-config
work/iam/iam.docker-images
work/iam/ui.user-management-fragments
work/iam/ui.oauth-client
work/iam/ui.alias-management
work/fragment-loader/fragment-loader-investigation-di
work/fragment-loader/fragment-loader-event-detail-window-di
work/ds/geo-app
work/ds/sonar-report-generator
work/bl/rsmetric
work/bl/rshttp
work/bl/rsconfig
work/bl/osa-gradle
work/bl/bl.xpolizei-connector
work/bl/bl.translation-service
work/bl/bl.transcode-service
work/bl/bl.streaming-service
work/bl/shared
work/bl/bl.representation-generator
work/bl/bl.preview-service
work/bl/bl.measure-hit-detector
work/bl/bl.investigation-data-export
work/bl/bl.inv-gateway
work/bl/bl.interpreter-order-app
work/bl/bl.fnt-service
work/bl/bl.fbs-gateway
work/bl/bl.export-process-manager
work/bl/bl.export-job-configuration-writer
work/bl/bl.export-job-configuration-reader
work/bl/bl.data-sync-notification-service
work/bl/bl.access-layer
# mani #
