[user]
  name = Andreas Weber
  email = weber.andreas@gmail.com
[core]
  editor = code --wait
  pager = delta
	excludesFile = ~/.gitignore
[pull]
  rebase = true
[rebase]
	autoStash = true
[merge]
  conflictstyle = diff3

[includeIf "gitdir:~/github/"]
    path = ~/github/.gitconfig
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
[includeIf "~/work.gitconfig"]
  path = ~/work.gitconfig
[credential "https://github.com"]
  helper = !~/.asdf/shims/gh auth git-credential
[credential "https://gist.github.com"]
  helper = !~/.asdf/shims/gh auth git-credential
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[color]
  ui = auto

[alias]
	branch-clean = !bash ~/.dotfiles/git/git-branch-clean.sh
	branch-default = !bash ~/.dotfiles/git/git-branch-default.sh
	bv = !bash ~/.dotfiles/git/git-branch-view.sh
  current = rev-parse --abbrev-ref HEAD
  dev = !bash ~/.dotfiles/git/git-dev.sh
  dirty = !bash ~/.dotfiles/git/git-dirty.sh
	erase = !bash ~/.dotfiles/git/git-erase.sh
  flinch = !bash ~/.dotfiles/git/git-flinch.sh
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
  ls = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate -l
  current-tag = !bash ~/.dotfiles/git/git-tag-current.sh
  my = !bash ~/.dotfiles/git/git-my.sh
  open = !bash ~/.dotfiles/git/git-open.sh
  pull-all = !bash ~/.dotfiles/git/git-pull-all.sh
  stale = !bash ~/.dotfiles/git/git-stale.sh
  stash-all=stash --include-untracked
  undo = reset HEAD~1 --mixed
  unstage = reset HEAD --

[interactive]
    diffFilter = delta --color-only --features=interactive


[delta]
    features = bluepaint vscode
    navigation = true
    line-numbers = true
    side-by-side = true

[delta "vscode"]
   hyperlinks = true
   hyperlinks-file-link-format = "vscode://file/{path}:{line}"

[delta "bluepaint"]
    light = true
    pink = 224
    dark-pink = 212
    green = 156
    dark-green = 078
    blue = 004
    grey = 247
    commit-decoration-style = bluepaint.blue
    commit-style = raw
    file-style = bluepaint.blue
    hunk-header-style = omit
    line-numbers-left-format = "│{nm:>3}│"
    line-numbers-left-style = bluepaint.grey
    line-numbers-minus-style = bluepaint.grey
    line-numbers-plus-style = bluepaint.grey
    line-numbers-right-format = "│{np:>3}│"1
    line-numbers-right-style = bluepaint.grey
    line-numbers-zero-style = bluepaint.grey
    minus-emph-style = normal bluepaint.dark-pink
    minus-empty-line-marker-style = minus-style
    minus-non-emph-style = minus-style
    minus-style = normal bluepaint.pink
    plus-emph-style = syntax bluepaint.dark-green
    plus-empty-line-marker-style = plus-style
    plus-non-emph-style = plus-style
    plus-style = syntax bluepaint.green
    syntax-theme = ansi
    zero-style = syntax