asdf-golang 1.21.4
delta 0.16.5
eza 0.18.14
fzf 0.51.0
github-cli 2.49.0
glab 1.40.0
gofumpt 0.6.0
golangci-lint 1.58.0
java openjdk-17
jq 1.7.1
mani 0.25.0
neovim stable
ripgrep 14.1.0
starship 1.19.0
volta 1.1.1
yq 4.43.1
zoxide 0.9.4